---
import Tags from '../components/Tags.astro'
import BuddahBless from '../components/BuddahBless.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
    <div class="flex flex-col gap-[2.75rem]">
        <div>
            <h2>소프트웨어 개발과 새로운 기술 탐험을 좋아하는 개발자 김소원입니다.</h2><br />

            <p>
                이 기술 블로그에서는 제가 직접 경험한 프로젝트, 공부한 기술, 그리고 여러 가지 트러블 슈팅을 공유합니다.<br
                /> 코드 한 줄에서 시작한 작은 발견이, 더 큰 성장으로 이어지는 과정을 함께 기록하고 싶습니다.
            </p>
        </div>

        <hr class="text-stone-300 dark:text-stone-600" />

        <Tags />
        <BuddahBless />
    </div>
</BaseLayout>
