---

---

<div
    class="flex flex-row gap-4
        [&>a:not(:last-child)]:after:content-['|'] [&>a:not(:last-child)]:after:ml-4 [&>a:not(:last-child)]:after:text-stone-400"
>
    <a href="/">홈</a>
    <a href="/blog/">블로그</a>
    <a href="/tags/">태그</a>
</div>
