---
import Header from '../common/header/Header.astro'
import Footer from '../common/footer/Footer.astro'
import '../styles/global.css'

import { WEBPAGE_INFO } from '../constants'

const { pageTitle, pageDescription, author } = Astro.props
---

<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <title>{pageTitle ?? WEBPAGE_INFO.TITLE}</title>
        <meta name="description" content={pageDescription ?? WEBPAGE_INFO.DESCRIPTION} />
        {author && <meta name="author" content={author} />}
    </head>
    <body>
        <div class="flex flex-col justify-center items-center px-[2rem]">
            <div class="max-w-[768px] w-full">
                <Header />
                <main class="min-h-[600px]">
                    <slot />
                </main>
                <Footer />
            </div>
        </div>
    </body>
</html>
