---
import { getCollection } from 'astro:content'
import Tags from '../components/Tags.astro'
import BaseLayout from './BaseLayout.astro'
import PageHeader from '../common/PageHeader.astro'

const allPosts = await getCollection('blog')
const tags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())]
---

<BaseLayout>
    <div class="flex flex-col gap-12">
        <PageHeader title="Tags" description=`총 ${tags.length}개의 태그가 있습니다.` />
        <Tags tags={tags} />

        <slot />
    </div>
</BaseLayout>
